@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




axis-horizontal,
.carousel-root {
    height: 18rem;
}

.slider,
.carousel-slider {
    height: 100%;
}

.carousel .slider-wrapper {
    height: 100%;
}


.card_container::-webkit-scrollbar {
    display: none;
}


.slide-in-top {
    -webkit-animation: slide-in-top .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-top .5s cubic-bezier(.25, .46, .45, .94) both
}



@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}


@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}


.hideNotifi {
    -webkit-animation: hideNotifi .5s cubic-bezier(.55, .085, .68, .53) both;
    animation: hideNotifi .5s cubic-bezier(.55, .085, .68, .53) both
}


@-webkit-keyframes hideNotifi {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0
    }
}

@keyframes hideNotifi {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0
    }
}


.seasonScroll::-webkit-scrollbar {
    width: 5px;

}

.seasonScroll::-webkit-scrollbar-track {
    background: #3e3b3bc5;
    border-radius: 0px 20px 20px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.seasonScroll::-webkit-scrollbar-thumb {
    background: #aeaeae;
    border-radius: 20px;
}